/* Write your CSS here */

.bg-container {
  background-color: #fa7257;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  color: #ffffff;
}

.button {
  background-color: #ffffff;
  color: #dd1264;
}
